//- Page
mixin page(item)
  .post
    article.post-block
      h1.post-title= item.title
      .post-content!= item.content

//- Post
mixin post(item)
  //- - console.log(item)
  .post
    h1.post-title= item.title
    +postInfo(item)
    +postCreated(item)
    article.post-content!= item.content
    //- +postUpdated(item)


//- Categories
mixin categoryList()
  .categories-content
    //- h1.category-title!= __('main.categories')
    ul.categories-list
      - site.categories.each((category) => {
        //- - console.log(category)
        a.categories-item(href=url_for(category.path), title=category.name)
          li
            h3.categories-name= category.name
            span.categories-count= category.length
      - })

mixin category()
  .categories-content
    ul.category-list
      - page.posts.each((post) => {
        //- - console.log(post)
        a.category-item(href= url_for(post.path))
          li.category-item-wrapper
            h3.category-item-title= post.title
            span.category-item-time!= `${full_date(post.date, 'YYYY-MM-DD')}`
      - })


//- Tags
mixin tagList()
  .tags-content
    ul.tags-list
      - site.tags.each((tag) => {
        //- - console.log(tag)
        a.tags-item(href=url_for(tag.path), title=tag.name)
          li
            span.tags-name= tag.name
            span.tags-count= tag.length
      - })

mixin tag()
  .tags-content
    ul.tag-list
      - page.posts.each(post => {
        a.tag-item(href= url_for(post.path))
          li
            h3.tag-item-title= post.title
            span.tag-item-time!= `${full_date(post.date, 'YYYY-MM-DD')}`
      - })
      

//- Archive
mixin archiveList()
  .archive
    //- h1.archive-title!= __('main.archives')
    - var year = 0;
    - var change = false;
    - page.posts.each(function (post) {
      //- - console.log(post);
      - var pageYear = date(post.date, 'YYYY') - 0;
      - change = year !== pageYear;
      - year = change ? pageYear : year;
      if change
        h2.archive-year= year
      a.archive-link(href= url_for(post.path))
        .archive-post-item-wrapper
          .archive-post-item
            h2= post.title
            p.post-time= full_date(post.date, 'MMM Do')
    - })



//- Paginator
mixin paginator(isHome)
  //- - console.log(page)
  - var prev, next
  if isHome
    - prev = page.prev_link
    - next = page.next_link
    .paginator
      if page.prev
        a.prev(href=url_for(prev))!= __('page.prev')
      span.separator
      if page.next
        a.next(href=url_for(next))!= __('page.next')
  else
    - prev = page.prev ? page.prev.path : false;
    - next = page.next ? page.next.path : false; 
    .paginator
      if prev
        a.prev(href=url_for(prev))
          span.prev-post= __('page.prev_post')
          span.prev-title= page.prev.title
      span.separator
      if next
        a.next(href=url_for(next))
          span.next-post= __('page.next_post')
          span.next-title= page.next.title

//- Utility Function
mixin yearHans(year)
  - var cyear = year.toString();
  - var Hans = ['〇', '一', '二', '三', '四', '五', '六', '七', '八', '九'];
  - var Arab = ['0','1','2','3','4','5','6','7','8','9'];
  - for (var i = 0; i < cyear.length; i++) {
    - for (var j = 0; j < Arab.length; j++) {
      - if (cyear[i] == Arab[j]) {
        - cyear = cyear.replace(cyear[i], Hans[j]);
      - }
    - }
  - }
  //- - cyear = cyear.replace(/0/g, "〇");
  //- - cyear = cyear.replace(/1/g, "一");
  //- - cyear = cyear.replace(/2/g, "二");
  //- - cyear = cyear.replace(/3/g, "三");
  //- - cyear = cyear.replace(/4/g, "四");
  //- - cyear = cyear.replace(/5/g, "五");
  //- - cyear = cyear.replace(/6/g, "六");
  //- - cyear = cyear.replace(/7/g, "七");
  //- - cyear = cyear.replace(/8/g, "八");
  //- - cyear = cyear.replace(/9/g, "九");
  span.archive-chinese-year!= cyear

//- mixin postInfo(item)
//-   .post-time!= full_date(item.date, 'MMM Do')

mixin postInfo(item)
  .post-info
    .post-categories
      - item.categories.each(category => {
        a(href= url_for(category.path))= category.name
      - })
    .post-tags
      - item.tags.each(tag => {
        a(href= url_for(tag.path))= tag.name
      - })


mixin postCreated(item)
  .post-time!= `${__('page.date')} ${full_date(item.date, 'll')}`

mixin postUpdated(item)
  .post-updated!= `${__('page.updated')} ${full_date(item.updated, 'll')}`
